header
{

}
.logo {
  color: white;
  text-decoration: none;
  font-size: 22px;
  transition: 0.2s;
  font-weight: bolder;
}

.header-title {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 25%;
  font-size: 25px;
}

.header-img{
  position: top;
  margin: 5px;
}
body{
  padding: 0;
  margin: 0;
}
nav {
  padding: 0;
  margin: 5px;
  background: #2c3e50;
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}
.link {
    color: grey;
    text-decoration: none;
    margin: 0 8px;
    font-size: 18px;
}

.link:hover {
  color: white;
  transition: 0.2s;
}

.container {
  position: left;
  margin: 5%;
  background: grey;
  width: 10%;
  height: 100%;
}
.container2 {
  position: right;
  margin: 5%;
  background: grey;
  width: 30%;
  height: 100%;
}
.container-text {
  margin: 0px;
  font-size: 16px;
}
